
body {
  font-family: Arial, sans-serif;
  background: #13312a; /* verde petróleo */
  color: #f6e9ca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  display: flex;
  background: #004c4c;
  border-radius: 20px;
  padding: 20px 30px;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* deixa a foto arredondada */
  object-fit: cover;
  border: 3px solid #009999;
}

.texto h1 {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}

.texto p {
  margin: 5px 0;
  font-size: 1rem;
}